@import url('@import url(' https: //fonts.googleapis.com/css2?family=Anton&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Grape+Nuts&family=Montserrat:ital,wght@0,100;0,300;1,200&family=Pacifico&family=Russo+One&family=Smooch&display=swap');');

    * {
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: 'Anton', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        min-height: 1000px;

    }

    p {
        font-weight: 300;
        color: #111;
    }

    .banner {
        position:relative;
        width: 100%;
        min-height: 100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        background: url("https://c.pxhere.com/photos/d0/37/cafe_coffee_shop_coffee_iphone_table-39.jpg!d");
        background-size:cover;
    }

    .banner .content {
        max-width: 1000px;
        text-align:center;
        animation: movescale 2s linear 1;
        animation-delay:4s;
        visibility:hidden;
        animation-fill-mode:forwards;
    }

    @keyframes movescale {
        0% {
            transform:scale(0.5);
            visibility: visible;

        }

        100% {
            transform:scale(1);
            visibility: visible;
        }
    }


    .banner .content h2 {
        font-size:5em;
        color:#fff;

    }

    .banner .content p {
        font-size: 1em;
        color:#fff;

    }

    

    .btn {
        font-size: 1em;
        color:#fff;
        background: #ff0157;
        display: inline-block;
        padding: 10px 30px;
        margin-top: 20px;
        text-transform: uppercase;
        text-decoration:none;
        letter-spacing: 2px;
        transition:.2s;
        animation: movedown 1s linear 1;
        animation-delay:6s;
        visibility:hidden;
        animation-fill-mode:forwards;
    }

    /*@keyframes movescale {
        0% {
            transform:translateX(-200px);
            visibility: visible;

        }

        100% {
            transform:translateX(0);
            visibility: visible;
        }
    }*/

    .btn:hover {
        letter-spacing:6px;
    }

    header {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        padding: 40px 100px;
        z-index:10000;
        display:flex;
        justify-content: space-between;
        align-items: center;
        transition:0.5;
    }

    header.sticky {
        background: #fff;
        padding: 10px 100px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);


    }

    header .logo {
        color: #fff;
        font-weight: 700;
        font-size: 2em;
        text-decoration: none;
        animation: movedown 1s linear 1;
        animation-delay:2s;
        visibility:hidden;
        animation-fill-mode:forwards;
    }

    @keyframes movedown {
        0% {
            transform:translateY:(-100px);
            visibility:visible;
        }

        100% {
            transform:translateY:(0);
            visibility:visible;
        }
    }

    header.sticky .logo {
        color: #111;
    }

    header .logo span {
        color: #ff0157;
    }

    header .navigation {
        position:relative;
        display: flex;
        animation: movedown 1s linear 1;
        animation-delay:3s;
        visibility:hidden;
        animation-fill-mode:forwards;
    }

    header .navigation li {
        list-style-type:none;
        margin-left: 30px;
    }

    header .navigation li a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        padding:5px;
        opacity:0.8;
    }

    header.sticky .navigation li a {
        color:#111;
    }

    header .navigation li a:hover {
        color: #ff0157;

    }

    section {
        padding:100px;
    }

    .row {
        position:relative;
        width:100%;
        display:flex;
        justify-content: space-between;
    }

    .row .col50 {
        position:relative;
        width:48%;
    }

    .titleText {
        color: #111;
        font-size:2em;
        font-weight: 300;

    }

    .titleText span {
        color: #ff0157;
        font-weight:700;
        font-size:1.5em;

    }

    .imgBx .col50 .imgBx {
        position:relative;
        width: 100%;
        /min-height: 300px; */ height:100%;
    }

    .imgBx .col50 .imgBx img {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit: cover;
    }

    .title {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu .content {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        flex-wrap:wrap;
        margin-top: 40px;
    }

    .menu .content .box {
        width: 340px;
        margin: 20px;
        border: 15px solid #fff;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
    }

    .menu .content .box .imgBx {
        position: relative;
        width: 100%;
        height:300px;
    }

    .menu .content .box .imgBx img {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit:cover;

    }

    .menu .content .box .text {
        padding: 15px 0 5px,
    }
    .menu .content .box .text h3 {
        font-weight: 400;
        color: #111;
    }

    .expert .content {
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        margin-top: 40px;
    }

    .expert .content .box {
        width:250px;
        margin:15px;
    }

    .expert .content .box .imgBx {
        position:relative;
        width:100%;
        height:100%;
        min-height: 300px;
    }

    .expert .content .box .imgBx img {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .expert .content .box .imgBx text {
        padding: 15px 0 5px;

    }

    .expert .content .box .text h3 {
        font-weight: 400;
        color:#111;

    }

    .testimonials {
        background:url("https://www.szepnapom.hu/hatterkep/szinek-formak/texturak/fa/evgyuruk006_1024x768.jpg");
        background-size:cover;
    }

    .white .titleText,
    .white p {
        color: #fff;
    }

    .testimonial .content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 10px;
    }

    .testimonials .content .box {
        width:140px;
        margin:30px;
        padding:40px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .testimonials .content .box .imgBx {
        position: relative;
        width: 80px;
        height:80px;
        margin-bottom: 20px;
        border-radius: 50%;
        overflow:hidden;
    }

    .testimonials .content .box .imgBx img {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .testimonials .content .box .text {
        text-align:center;
    }

    .testimonials .content .box .text p {
        color:#666;
        font-style:italic;
    }

    .testimonials .content .box .text h3 {
        margin-top: 20px;
        color:#111;
        font-size:1em;
        color:#ff0157;
        font-weight:600;
    }

    .contact {
        background: url("https://c.pxhere.com/photos/f5/e6/bowl_breakfast_close_up_colorful_colors_cuisine_delicious_dish-1529605.jpg!d");
        background-size:cover;
        color:#fff;
    }
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    background:#ff0157;
    color:#fff
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      /*.fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }

      .fa-google {
        background: #dd4b39;
        color: white;
      }
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      */
    .contactForm {
        padding:75px 50px;
        background:#fff;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin-top: 50px;
        opacity:.8;
    }

    .contactForm h3 {
        color:#111;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight:500;

    }

    .contactForm .inputBox {
        position: relative;
        width:100%;
        margin-top:20px;
    }

    .contactForm .inputBox input .contactForm .inputBox textarea {
        width:100%;
        border: 1px solid #555;
        padding:10px;
        color:#111;
        outline: none;
        font-size:16px;
        font-weight: 300;

    }

    .contactForm .inputBox input[type="submit"] {
        font-size: 1em;
        color: #fff;
        background: #ff0157;
        display:inline-block;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        padding:5px;
        transition: 0.5s;
        max-width:100px;
        font-weight: 500;
        border:none;
        cursor:pointer;

    }

    .copyrightText {
        position:absolute;
        height:70px; ;
        width:100%;
        background-color: #111;
        color:white;
        padding: 8px 40px;
        border-top: 1px solid rgba (0, 0, 0, 0.1);
        text-align: center;

    }

    .copyrightText p {
        color:#fff;
    }

    .copyrightText a {
        color: #ff0157;
        font-weight: 500;
        text-decoration: none;
    }

    @media (max-width: 768px) {

        header,
        header.sticky {
            padding: 10px 20px;
            opacity: .9;
            background-color:#ff0157;
        }

        header .navigation {
            display:none;
        }

        header .navigation.active {
            width:100%;
            height:calc(100% - 48px);
            position:fixed;
            top:48px;
            left:0;
            display:flex;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            background-color: #fff;

        }

        header .navigation li {
            list-style: none;
            margin-left:0;
            font-size:3em;
        }

        .menuToggle {
            position:relative;
            width: 40px;
            height: 40px;
            background: url("https://img.icons8.com/material-outlined/344/menu--v3.png");
            background-size: 50px;
            background-repeat:no-repeat;
            background-position: center;
            cursor:pointer;


        }

        .menuToggle.active {
            background: url("https://tse1.mm.bing.net/th?id=OIP.VZGScPFDS_yHhmWrZpl4SQHaHa&pid=Api&rs=1&c=1&qlt=95&w=116&h=116");
            background-size: 60px;
            background-repeat:no-repeat;
            background-position: center;
        }

        .row {
            flex-direction: column;
        }

        .imgBx .col50 .imgBx img {
            width: 100%;
            margin-top:10px;
        }
    }

    @media (max-width: 450px) {
        .contactForm {
            background-color: #b3ff66;
            width:250px;
            opacity:.7;
        }

        .contactForm .inputBox input, submit {
            width:100px;
        }

        .row .col50 {
            position:relative;
            width:20%;
            padding:10px 10px;
        }

        .row .col50 .imgBx img {
            width:200px;

        }
    }